@charset "ISO-8859-1";
.title{
	color: #30D040;
	 margin-top: 25%; 
	 text-align: center;
}
input{
	width: -webkit-fill-available;
}
.err{
	height: 25px;color: #a2f125;font-weight: bold;
}
#regis-submit,#login-submit{
	font-size:20px;
	font-weight:bold;
	border-radius: 10px;background-color:#30D040; color:white ;width: -webkit-fill-available;
	margin-bottom:5%; 
	
}